{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}">
{% endblock %}

{% block content %}

<div class="profile-heading">
    <div>
    <div class="profile-picture">
        {% if profile_url %}
            <img src="{{ profile_url }}" alt="Profile Picture">
        {% else %}
            <img src="{{ url_for('static', filename='uploads/profile_pic/default_profile_pic.jpg') }}" alt="Profile Picture">
        {% endif %}
    </div>
    </div>
    <div>
    {% if owner %}
        <h1>Welcome {{ username }}</h1>

        <div class="email">Email-ID : {{ email }}
        </div>
        <div class="bio">
            <strong>Bio :</strong><br> 
            {% if bio %}{{ bio }}{% else %}User{% endif %}</div><br>
        <div class="edit-profile">
            <a href="{{ url_for('edit_profile') }}">
                ✏️ Edit Profile
            </a>
        </div>

    {% else %}

        <h1>{{ username }}</h1>

        <div class="bio">
            <strong>Bio :</strong><br>
            {{ bio }}
        </div>

    {% endif %}
    </div>
</div>

<br>

{% if trips %}

    {% if owner %}
        <h2 class="trip-heading">MY TRIPS</h2>
    {% else %}
        <h2 class="trip-heading">TRIPS</h2>
    {% endif %}

    <div class="trips">

        {% for trip in trips %}

        <div class="trip-card">

            <div class="title">
                <h2>{{ trip[1] }}</h2>
            </div>

            <div class="trip-img">
                <a href="{{ url_for('trip_details',trip_id=trip[0]) }}">
                    <img src="{{ trip[3] }}" alt="img">
                </a>
            </div>

            <div class="trip-detail">

                <div>
                    ❤️ Likes {{ trip[5] }}
                </div>

                <div>
                    {{ trip[2][:100] }}
                </div>

                <div>
                    {{ trip[4] }}
                </div>

                {% if owner %}
                    <div>
                        Status :
                        {% if trip[6] %}
                            Complete
                        {% else %}
                            Draft
                        {% endif %}
                    </div>
                {% endif %}

                {% if trip[6] %}

                    <div>

                        <a href="{{ url_for('trip_details',trip_id=trip[0]) }}">
                            [View Trip]
                        </a>

                        {% if owner %}
                            <a href="{{ url_for('edit_trip',trip_id=trip[0]) }}">
                                &emsp;[Continue Editing]
                            </a>
                        {% endif %}

                    </div>

                {% else %}

                    <div>

                        <a href="{{ url_for('add_stops',trip_id=trip[0]) }}">
                            [Continue]
                        </a>

                    </div>

                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>

{% else %}

    {% if owner %}
        <div class="msg">
            Create your first trip
        </div>
    {% else %}
        <div class="msg">
            No trips created yet
        </div>
    {% endif %}

{% endif %}

{% endblock %}